<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="SmokeTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.endava.TestHomePage"/>
            <class name="com.endava.TestServicesPage"/>
            <class name="com.endava.TestIndustriesPage"/>
            <class name="com.endava.TestSuccessStoriesPage"/>
            <class name="com.endava.TestDigitalPage"/>
            <class name="com.endava.TestCloudPage"/>
            <class name="com.endava.TestAutomationAndEngineeringPage"/>
            <class name="com.endava.TestInsightsThroughDataPage"/>
            <class name="com.endava.TestSoftwareEngineeringPage"/>
            <class name="com.endava.TestCreativeAndUXPage"/>
        </classes>
    </test>
</suite>
